<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>

      <title>Food Zone</title>
      <link href="/assets/stylesheets/mystyle.css" rel="stylesheet" type="text/css"/>
   </head>
   <body>
      <div class="all">
         <% include partials/navigation.ejs {clicked:clicked}%>
         <% include partials/header.ejs %>
         <div id="details">
            <div id="firstCol">
               <h5><%= info.name %></h5>
               <div>
                  <img id="profile" src="/assets/images/profile.png" alt="Profile picture">
                  <p>Hosted by Alex the chef! <br> <%= info.dt[0] %> <br> <%= info.dt[1] %> <br><%= info.location %>  </p>
               </div>
               <h5>Details</h5>
               <div>
                  <p><%= info.details; %></p>
               </div>
            </div>
         </div>
         <div id="secondCol">
                <p>Are you going? 100 people are going! </p>
                <form  class="button-line" action="/savedConnection" method="GET">
                  <input type="hidden" id="connID" name="connID" value="<%= connID%>">
                   <input id="button1"  type="submit" name="rsvp" value="Yes">
                   <input id="button2"  type="submit" name="rsvp" value="No">
                   <input id="button3"  type="submit" name="rsvp" value="Maybe">
                </form>
             </div>
         <% include partials/footer.ejs %>
      </div>
   </body>
</html>